.pallette
	width: 90px
	background: white
	float: left
	margin: 0 10px 0 0

.color
	width: 50px
	height: 50px
	border: 2px solid black
	margin: 17px

.color.active
	border: 2px solid orange

.canvas-area
	float: right
	border-top: 5px solid orange
	border-left: 5px solid orange
	background: white
	width: 450px
	height: 450px

.cell
	background: white
	border-right: 5px solid orange
	border-bottom: 5px solid orange
	width: 145px
	height: 145px
	float: left

.row:last
	border: none
