.pallette
	width: 90px
	background: white
	float: left
	margin: 0 10px 0 0

.color
	width: 50px
	height: 50px
	border: 2px solid black
	margin: 17px

.color.active
	border: 2px solid orange

.canvas-area
	float: right
	border: 1px solid white
	background: white
	width: 600px
	height: 450px

.cell
	background: black
	width: 30px
	height: 30px
	float: left

.row:last
	border: none
