button {
	display: block;
	width: 180px;
	height: 60px;
	background: #0cf;
	border-radius: 5px;
	line-height: 50px;
	border: 2px solid #0af;
	box-shadow: 0 4px 0 #0af;
}
button:hover {
	position: relative;
	top: 1px;
	box-shadow: 0 3px 0 #0af;
}
button:active {
	position: relative;
	top: 4px;
	box-shadow: 0 0 0 #0af;
}