
body
	font-size: 12px
	background: white
	font-family: arial,sans-serif

// @import 'pure/base-context'
// @import 'pure/buttons'
// @import 'pure/forms'
// @import 'pure/grids'
// @import 'pure/menus'
// @import 'pure/tables'

// HTML5 BP Stuff

html,
button,
input,
select,
textarea
	color #222

body
	font-size 1em
	line-height 1.4

::-moz-selection
	background #b3d4fc
	text-shadow none

::selection
	background #b3d4fc
	text-shadow none

hr
	display block
	height 1px
	border 0
	border-top 1px solid #ccc
	margin 1em 0
	padding 0

img
	vertical-align middle
	max-width 100% !important

fieldset
	border 0
	margin 0
	padding 0

textarea
	resize vertical

.chromeframe
	margin 0.2em 0
	background #ccc
	color #000
	padding 0.2em 0

.ir
	background-color transparent
	border 0
	overflow hidden
	*text-indent -9999px
	&:before
		content ""
		display block
		width 0
		height 100%

.hidden
	display none !important
	visibility hidden

.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
	clip auto
	height auto
	margin 0
	overflow visible
	position static
	width auto

.invisible
	visibility hidden

.clearfix:before,
.clearfix:after
	content " "
	display table

.clearfix
	*zoom 1
	&:after
		clear both


//Custom Styles

body
	background: black
	color: #FF8300

.article
	max-width: 600px
	margin: 10px auto
	padding: 10px

a:link
	color: #0cf
a:visited
	color: #0af
a:hover
	color: #fc0
a:active
	color: white
